{% extends "oscar/layout.html" %}

{% comment %}
Keep the same header and footer as the standard layout template but override the
main content area to split it into a sidebar and a content block
{% endcomment %}
{% block content_wrapper %}
<div class="bg-white">
    <div class="container py-3" style="min-height: calc(100vh - 186px);">
        {% block breadcrumbs %}{% endblock %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 lg:grid-cols-4">

            <aside class="col-span-1">
                {% block column_left %}{% endblock %}
                {% block column_left_extra %}{% endblock %}
            </aside>

            <div class="col-span-1 md:col-span-2 lg:col-span-3">
                
                {% block header %}
                
                {% endblock %}

                {% include "oscar/partials/alert_messages.html" %}

                {% block pre_content %}{% endblock %}
                {% block content %}{% endblock %}
            </div>

        </div><!-- /row -->
    </div><!-- /page_inner -->
</div><!-- /container -->
{% endblock %}
