{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}
{% load custom_tags %}

{% purchase_info_for_product request product as session %}

{% if session.price.exists %}
    {% if session.price.excl_tax == 0 %}
        <p class="text-lg text-green-600 font-semibold">{% trans "Free" %}</p>
    {% elif session.price.is_tax_known %}
        <p class="text-lg text-green-600 font-semibold">{{ session.price.incl_tax|intprice }}</p>
    {% else %}
        <p class="text-lg text-green-600 font-semibold">{{ session.price.excl_tax|intprice }}</p>
    {% endif %}
{% else %}
    <p class="text-lg text-green-600 font-semibold">&nbsp;</p>
{% endif %}
{% if session.price.exists %}
<p class="">
    {% if session.availability.is_available_to_buy %}
        <i class="fas fa-check-circle"></i>
    {% else %}
        <i class="fas fa-ban"></i>
    {% endif %}
    {% if verbose %}
        {{ session.availability.message }}
    {% else %}
        {{ session.availability.short_message }}
    {% endif %}
</p>
{% else %}
    <i class="fas fa-ban"></i>
    {% trans 'Unavailable' %}
{% endif %}
