
<div>
    <button id="user-menu-toggle" class="flex h-full items-center bg-white p-1.5 text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-icon lucide-circle-user"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg>
    </button>
    <div id="dropdown-menu" class="absolute right-2 mt-2 w-48 z-50 bg-white border border-gray-200 rounded shadow-lg hidden">
        <ul class="py-2">
            {% if user.is_authenticated %}

                <li>
                    <a href="{% url 'customer:summary' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">
                        Profile
                    </a>
                </li>
                <li>
                    <a href="{% url 'customer:notifications-inbox' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">
                        Notifications
                        {% if num_unread_notifications > 0 %}
                            <span class="text-red-500">({{ num_unread_notifications }})</span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'customer:logout' %}" class="block px-4 py-2 text-red-600 hover:bg-red-100">
                        Logout
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'customer:login' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">
                        Login
                    </a>
                </li>
                <li>
                    <a href="{% url 'customer:register' %}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">
                        Register
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <script>
        const userMenuToggle = document.getElementById('user-menu-toggle');
        const dropdownMenu = document.getElementById('dropdown-menu');

        userMenuToggle.addEventListener('click', () => {
            dropdownMenu.classList.toggle('hidden');
        });

        // Close dropdown when clicking outside
        document.addEventListener('click', (e) => {
            if (!dropdownMenu.contains(e.target) && !userMenuToggle.contains(e.target)) {
                dropdownMenu.classList.add('hidden');
            }
        });
    </script>

</div>
